[Unit]
Description=Run Market cron every minute

[Timer]
OnCalendar=*-*-* *:*:00
AccuracySec=1s
Persistent=true
Unit=market-cron.service

[Install]
WantedBy=timers.target
